@import url('../fonts/iosevka.ttf');
*{
  padding:0px;
  margin:0px;
  font-family: 'Iosevka Term';
}
body{
  background-image: linear-gradient(to right, #131929 , #1e1938);
}
a{
  text-decoration:none;
  color: #FFFFFF;
}
header{
  display: flex;
  justify-content: space-around;
  align-text: center;
  align-items: center;
  background: #1a1a2b;
  color: #FFFFFF;
  padding: 0.5rem;
  position:fixed;
  width:100%;
  z-index: 1000;
}
header > h1 {
  font-size: 1rem;
}
h1 > div {
  display: flex;
}
.srch-txt {
  background: #222236;
  color: white;
  font-weight:700;
  border:0px;
  padding-top:0.3rem;
  padding-left:0.3rem;
  width: 17rem;
  height:2rem;
  font-size: 18px ;
  transition: ease-out 0.3s;
}
.srch-txt::placeholder{
  font-size: 1.2rem;
}

.srch-txt:focus , .srch-btn:hover , .next-pg:focus , .next-pg:hover , .prev-pg:focus , .prev-pg:hover{
	font-weight:bold;
	background: #383854;
	outline:0px;
}
.srch-btn{
  background: #2b2b42;
  color: #FFFFFF;
  border:0px;
  width: 2rem;
  padding-left:0.3rem;
  padding-right:0.3rem;
  font-size: 17px;
  cursor: pointer;
  transition: ease-out 0.3s;
}
.latest-h1{
   background: #2b2b42;
   border-radius: 8px;
   padding:0.4rem;
}
.latest-h1:focus , .latest-h1:hover{
  	transition: ease-out 0.3s;
	background:#AEEA00;
	color:#000000;
	cursor:pointer;	
}
.h-logo{
	background: #2b2b42;
	border-radius: 80%;
	padding:0.2rem;
	transition: ease-out 0.3s;
	font-size: 1.2rem;
}
.h-logo:focus , .h-logo:hover{
	cursor:pointer;
	background: #F50057;
	color: #000000;
}

.contain-top-list{
  transform: translateY(3.3rem);
}

.container{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  padding-top:1rem;
}

.per-ani{
      width:400px;
      height:500px;
      padding:1rem;
}
.per-ani:hover , .per-ani:focus{
      border-radius:15px;
      background:#130f2455;
}

.poster{
     border-radius:15px;
     width:300px;
     height:400px;
}
.title{
  font-size:1.5rem;
  font-weight:bold;
  margin-top:0.5rem;
}

.next-pg , .prev-pg{
  padding:0.5rem;
  margin:0.5rem;
  border-radius:0px 9px 0px 9px; 
  font-size:1.3rem;
  font-weight: bold;
  border:0px;
  background: #2b2b42;
  color: #BDBDBD;
  cursor:pointer;
  transition: ease-out 0.3s;
}
.prev-pg{
  display: none;
}

.pg-opts{
  display:flex;
  justify-content:space-around;
}
.footer{
  padding-top:2rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  color: #BDBDBD;
  background:#151129;
  margin-top:0.5rem;
  padding-bottom:2rem;
}
.cl{
  font-size:0.8rem;
}
.auth{
  font-size:1.3rem;
}
.srch-prompt{
  padding: 1rem;
  color: #9E9E9E;
}
.anime-details{
  color:#BDBDBD;
  font-size: 0.8rem;
}
.anime-title{
  padding:0.5rem;
}
.anime-details > div{
  display:flex;
  flex-direction:column;
  padding:0.5rem;
  font-weight:700;
  font-size:1rem;
  padding-top:0.8rem;
  margin-left:0.8rem;
  border-left:3px solid #00796B;
}
.anime-details > div > span {
  color:#BDBDBD80;
}
.anime-details > div > span > span {
  font-size:1.2rem;
  color:#546E7A;
}
.video-container{
  padding:2.5rem;
 /* height:100vh;
  */
}
.videoo{
  height:100%;
}
.ep-opts{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.ep-opts > a > button{
  padding:0.5rem;
  font-weight:700;
  font-size:1rem;
  margin:0.5rem;
  width:3rem;
  background: #2b2b42;
  color:#BDBDBD;
  border-radius: 30%;
  border:0px;
  cursor:pointer;
  transition: ease-out 0.4s;
}
.ep-opts > a > button:hover , .ep-opts > a > button:focus{
	background: #383854;
	font-weight:bold;
}

.video-con{
  display:flex;
  justify-content:space-between;
  padding:1rem;
}
.video-con > a > button {
  padding:0.5rem;
  width: 8rem;
  background: #2b2b42;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight:bold;
  border-radius: 0px 10px 0px 10px;
  cursor:pointer;
  border:0px;
}

.video-con > a > button:hover , .video-con > a > button:focus{
  background:#383854;
}


@media only screen and (max-width: 500px ) {
  header {
    flex-direction: column;
  }
  .h-logo{
    background:transparent;
    margin-bottom:0.5rem;
  }
  header > h1 > div {
    margin-bottom:0.5rem;
  }
  .latest-h1{
    	width:75%;
	display:flex;
	justify-content:center;
  }
  .srch-txt{
    	width:10rem;
	font-size: 0.8rem;
  }
  .contain-top-list{
    transform: translateY(8.5rem);
    overflow: hidden;
  }
  .title{
    font-size:0.8rem
  }
  .next-pg , .prev-pg {
    font-size:1rem;
  }
}
